name: Build and Integration Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Create Kubernetes Cluster (Kind)
      uses: helm/kind-action@v1.12.0
      with:
        cluster_name: kind

    - name: Install Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.14.2

    - name: Build with Maven
      run: ./mvnw clean install -B

    - name: Run Integration Tests
      run: ./mvnw test -pl jhelm-kube,jhelm-core -B
